:root {
    --color-dark: #1E1E1E;
    --color-light: #FAFAFA;
    --color-purple: #A783FF;
    --color-light-alt: #fff;

    --border: 1px solid var(--color-dark);
    --border-radius: 18px;
    --border-radius-small: 4px;
    --border-radius-large: 45px;

    --box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);

    --font-family-base: 'Poppins', sans-serif;

    --container-width: 1440px;
    --container-padding-x: 124px;

    --section-padding-y: 158px;

    --input-height: 59px;
    --button-height: 68px;

    --transition-duration: 0.2s;

    @include desktop {
        --section-padding-y: 158px;
    }

    @include mobile {
        --section-padding-y: 158px;
    }
}