@charset "UTF-8";
/**
  Нормализация блочной модели
 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
  Упрощаем работу с изображениями
 */
img {
  display: block;
  max-width: 100%;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
  /**
    Плавный скролл
   */
  scroll-behavior: smooth;
  scroll-padding-top: 70px;
  overflow-x: hidden;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

/**
  Приводим к единому цвету svg-элементы
 */
/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  transition-property: fill, stroke;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
:root {
  --color-dark: #1E1E1E;
  --color-light: #FAFAFA;
  --color-purple: #A783FF;
  --color-light-alt: #fff;
  --border: 1px solid var(--color-dark);
  --border-radius: 18px;
  --border-radius-small: 4px;
  --border-radius-large: 45px;
  --box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  --font-family-base: "Poppins", sans-serif;
  --container-width: 1440px;
  --container-padding-x: 124px;
  --section-padding-y: 158px;
  --input-height: 59px;
  --button-height: 68px;
  --transition-duration: 0.2s;
}
@media (max-width: 1280px) {
  :root {
    --section-padding-y: 158px;
  }
}
@media (max-width: 767px) {
  :root {
    --section-padding-y: 158px;
  }
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}
@media (max-width: 767px) {
  .container {
    padding-inline: 30px;
  }
}
@media (max-width: 1023px) {
  .container {
    padding-inline: 50px;
  }
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  -webkit-clip-path: inset(100%) !important;
          clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

@media (max-width: 767px) {
  .hidden-mobile {
    display: none !important;
  }
}

@media (min-width: 768px) {
  .visible-mobile {
    display: none !important;
  }
}

body {
  font-size: 18px;
  font-family: var(--font-family-base);
  font-weight: 300;
  line-height: 1.5;
  color: var(--color-dark);
  background-color: var(--color-light);
  overflow-x: hidden;
}

a,
button,
input,
textarea,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2, h3, h4 {
  font-weight: 500;
}

h1, .h1 {
  font-size: clamp(48px, 6.5277777778vw, 94px);
}

h2, .h2 {
  font-size: clamp(28px, 3.3333333333vw, 48px);
}

h3, .h3 {
  font-size: clamp(24px, 2.6388888889vw, 38px);
}

h4, .h4 {
  font-size: clamp(18px, 1.6666666667vw, 24px);
}

.section {
  padding-bottom: var(--section-padding-y);
}

.button {
  color: var(--color-light);
  font-weight: 600;
  font-size: 14px;
  padding: 5px 25px;
  border-radius: var(--border-radius-small);
  background-color: var(--color-dark);
  transition: background-color var(--transition-duration);
  border: none;
  text-wrap: nowrap;
  cursor: pointer;
  max-height: 32px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  transition-duration: var(--transition-duration);
}
@media (hover: hover) {
  .button:hover {
    background-color: var(--color-purple);
    color: var(--color-dark);
  }
}
@media (hover: none) {
  .button:active {
    background-color: var(--color-purple);
    color: var(--color-dark);
  }
}
@media (max-width: 1023px) {
  .button {
    padding: 5px 20px;
  }
}
@media (max-width: 767px) {
  .button {
    font-size: 10px;
    padding: 5px 17px;
  }
}

.burger-button {
  padding: 0;
  background-color: transparent;
  border: none;
  width: 55px;
  aspect-ratio: 1;
  position: relative;
}
@media (hover: hover) {
  .burger-button:hover {
    background-color: var(--color-purple);
    border-radius: 8px;
  }
}
@media (hover: none) {
  .burger-button:active {
    background-color: var(--color-purple);
    border-radius: 8px;
  }
}
.burger-button::after {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  content: "";
  width: 75%;
  height: 2px;
  background-color: var(--color-dark);
  border-radius: 24px;
  box-shadow: 0 -9px, 0 9px;
  color: var(--color-dark);
}

.mobile-overlay {
  width: 100%;
  height: 500px;
  margin: 0;
  padding: 14px 20px;
  border: none;
}
.mobile-overlay:modal {
  max-width: 100%;
  max-height: 100%;
}
.mobile-overlay__close-button-wrapper {
  display: flex;
  justify-content: start;
}
.mobile-overlay__list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 30px;
  min-height: 50vh;
}

.cross-button {
  padding: 0;
  background-color: transparent;
  border: none;
  width: 55px;
  aspect-ratio: 1;
  position: relative;
  left: 29px;
  top: 37px;
}
@media (hover: hover) {
  .cross-button:hover {
    background-color: var(--color-purple);
    border-radius: 8px;
  }
}
@media (hover: none) {
  .cross-button:active {
    background-color: var(--color-purple);
    border-radius: 8px;
  }
}
.cross-button::before, .cross-button::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 8px;
  width: 70%;
  height: 2px;
  background-color: var(--color-dark);
  border-radius: 5px;
}
.cross-button::before {
  rotate: 45deg;
}
.cross-button::after {
  rotate: -45deg;
}

.header {
  margin-top: 36px;
  margin-bottom: 66px;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: var(--color-light);
}
.header__logo {
  min-width: 135px;
  transition-duration: var(--transition-duration);
}
@media (hover: hover) {
  .header__logo:hover {
    transform: scale(1.1);
  }
}
@media (hover: none) {
  .header__logo:active {
    transform: scale(1.1);
  }
}
@media (max-width: 1023px) {
  .header__logo {
    transform: scale(0.8);
  }
}
@media (max-width: 767px) {
  .header__logo {
    transform: none;
    min-width: 87px;
  }
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}
.header__inner:first-child {
  -moz-column-gap: 398px;
       column-gap: 398px;
}
@media (max-width: 1439px) {
  .header__inner:first-child {
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
}
.header__logo-text--purple {
  color: var(--color-purple);
  font-weight: 600;
  font-size: 28px;
}
@media (max-width: 767px) {
  .header__logo-text--purple {
    font-size: 18px;
  }
}
.header__logo-text--dark {
  color: var(--color-dark);
  font-weight: 600;
  font-size: 28px;
}
@media (max-width: 767px) {
  .header__logo-text--dark {
    font-size: 18px;
  }
}
.header__menu {
  display: flex;
  -moz-column-gap: 67px;
       column-gap: 67px;
  align-items: center;
}
@media (max-width: 1023px) {
  .header__menu {
    -moz-column-gap: 30px;
         column-gap: 30px;
  }
}
.header__menu-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 31px;
       column-gap: 31px;
}
@media (max-width: 1023px) {
  .header__menu-list {
    -moz-column-gap: 10px;
         column-gap: 10px;
  }
}
.header__menu-item {
  font-weight: 500;
  font-size: 14px;
}
@media (max-width: 1023px) {
  .header__menu-item {
    transform: scale(0.8);
  }
}
.header__menu-link {
  position: relative;
  display: inline-flex;
  align-items: center;
  height: 60px;
}
.header__menu-link:after {
  content: "";
  position: absolute;
  top: 80%;
  left: 50%;
  translate: -50%;
  width: 0;
  height: 2px;
  background-color: var(--color-purple);
  transition-duration: inherit;
}
@media (hover: hover) {
  .header__menu-link:hover:after {
    width: 100%;
  }
}
@media (hover: none) {
  .header__menu-link:active:after {
    width: 100%;
  }
}

.hero__header {
  display: flex;
  padding-bottom: 65px;
}
@media (max-width: 767px) {
  .hero__header {
    flex-direction: column;
    align-items: center;
    padding-bottom: 103px;
  }
}
.hero__title {
  font-weight: 700;
  font-size: 94px;
  line-height: 107%;
  text-transform: uppercase;
  max-width: 648px;
  transition-duration: var(--transition-duration);
}
@media (hover: hover) {
  .hero__title:hover {
    color: var(--color-purple);
    font-size: 98px;
    max-width: 670px;
  }
}
@media (hover: none) {
  .hero__title:active {
    color: var(--color-purple);
    font-size: 98px;
    max-width: 670px;
  }
}
@media (max-width: 767px) {
  .hero__title {
    line-height: 137%;
    font-size: 48px;
    max-width: 382px;
    text-align: center;
  }
}
@media (max-width: 767px) and (hover: hover) {
  .hero__title:hover {
    color: var(--color-purple);
    font-size: 52px;
    max-width: 400px;
    transition-duration: 0;
  }
}
@media (max-width: 767px) and (hover: none) {
  .hero__title:active {
    color: var(--color-purple);
    font-size: 52px;
    max-width: 400px;
    transition-duration: 0;
  }
}
@media (max-width: 430px) and (hover: hover) {
  .hero__title:hover {
    color: var(--color-purple);
    font-size: 48px;
    transition-duration: 0;
  }
}
@media (max-width: 430px) and (hover: none) {
  .hero__title:active {
    color: var(--color-purple);
    font-size: 48px;
    transition-duration: 0;
  }
}
.hero__body {
  position: relative;
  display: flex;
  width: 100vw;
  height: 718px;
  background-image: url(../images/hero/home.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.hero__body-start {
  position: absolute;
  top: -1px;
  right: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  background-color: var(--color-light);
  max-width: 590px;
  max-height: 163px;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 14% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 14% 100%);
}
@media (max-width: 767px) {
  .hero__body-start {
    max-width: 300px;
    max-height: 76px;
  }
}
@media (max-width: 430px) {
  .hero__body-start {
    max-width: 229px;
    max-height: 54px;
  }
}
.hero__body-start-inner {
  display: flex;
  -moz-column-gap: 12px;
       column-gap: 12px;
  padding: 25px 110px 27px;
}
@media (max-width: 767px) {
  .hero__body-start-inner {
    padding: 7px 58px 7px;
    -moz-column-gap: 5px;
         column-gap: 5px;
  }
}
.hero__body-start-image {
  border-radius: 7px;
  transition-duration: 0.4s;
}
@media (hover: hover) {
  .hero__body-start-image:hover {
    transform: scale(1.1);
  }
}
@media (hover: none) {
  .hero__body-start-image:active {
    transform: scale(1.1);
  }
}
@media (max-width: 767px) {
  .hero__body-start-image {
    min-width: 64px;
    height: 50px;
  }
}
@media (max-width: 767px) and (hover: hover) {
  .hero__body-start-image:hover {
    transition-duration: 0;
  }
}
@media (max-width: 767px) and (hover: none) {
  .hero__body-start-image:active {
    transition-duration: 0;
  }
}
@media (max-width: 430px) {
  .hero__body-start-image {
    min-width: 46px;
    height: 40px;
  }
}
.hero__body-end {
  position: absolute;
  left: 0;
  bottom: -1px;
  background-color: var(--color-light);
  max-width: 568px;
  max-height: 149px;
  -webkit-clip-path: polygon(0 0, 75% 0, 100% 100%, 0% 100%);
          clip-path: polygon(0 0, 75% 0, 100% 100%, 0% 100%);
}
@media (max-width: 767px) {
  .hero__body-end {
    max-width: 300px;
    max-height: 76px;
    -webkit-clip-path: polygon(0 0, 86% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 86% 0, 100% 100%, 0 100%);
  }
}
@media (max-width: 430px) {
  .hero__body-end {
    max-width: 229px;
    max-height: 58px;
  }
}
.hero__body-end-inner {
  display: flex;
  flex-direction: column;
  row-gap: 9px;
  padding: 25px 124px 8px;
}
@media (max-width: 767px) {
  .hero__body-end-inner {
    row-gap: 0;
    padding: 12px 24px 5px;
  }
}
@media (max-width: 430px) {
  .hero__body-end-inner {
    padding: 10px 24px 5px;
  }
}
.hero__body-end-images {
  display: flex;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.hero__body-end-image {
  position: relative;
  transition-duration: 0.4s;
}
@media (hover: hover) {
  .hero__body-end-image:hover {
    transform: scale(1.1);
  }
}
@media (hover: none) {
  .hero__body-end-image:active {
    transform: scale(1.1);
  }
}
@media (max-width: 767px) {
  .hero__body-end-image {
    width: 47px;
    height: 47px;
  }
}
@media (max-width: 767px) and (hover: hover) {
  .hero__body-end-image:hover {
    transition-duration: 0;
  }
}
@media (max-width: 767px) and (hover: none) {
  .hero__body-end-image:active {
    transition-duration: 0;
  }
}
.hero__body-end-image:nth-child(1) {
  right: 0;
}
.hero__body-end-image:nth-child(2) {
  right: 20px;
  z-index: 100;
}
@media (max-width: 767px) {
  .hero__body-end-image:nth-child(2) {
    right: 9px;
  }
}
.hero__body-end-image:nth-child(3) {
  right: 40px;
  z-index: 200;
}
@media (max-width: 767px) {
  .hero__body-end-image:nth-child(3) {
    right: 18px;
  }
}
.hero__body-end-image:nth-child(4) {
  right: 60px;
  z-index: 300;
}
@media (max-width: 767px) {
  .hero__body-end-image:nth-child(4) {
    right: 27px;
  }
}
.hero__body-end-image:nth-child(5) {
  right: 80px;
  z-index: 400;
}
@media (max-width: 767px) {
  .hero__body-end-image:nth-child(5) {
    right: 36px;
  }
}
.hero__body-end-image:nth-child(6) {
  right: 100px;
  z-index: 500;
}
@media (max-width: 767px) {
  .hero__body-end-image:nth-child(6) {
    right: 45px;
  }
}
.hero__body-end-circle {
  width: 71px;
  aspect-ratio: 1;
  position: relative;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: var(--color-dark);
  border: 3px solid var(--color-light);
  box-shadow: var(--box-shadow);
}
.hero__body-end-circle-text {
  font-weight: 500;
  font-size: 18px;
  text-transform: uppercase;
  color: #fff;
}
.hero__body-end-title {
  font-weight: 600;
  font-size: 24px;
  text-align: start;
  transition-duration: var(--transition-duration);
}
@media (hover: hover) {
  .hero__body-end-title:hover {
    color: var(--color-purple);
    transform: scale(1.1);
  }
}
@media (hover: none) {
  .hero__body-end-title:active {
    color: var(--color-purple);
    transform: scale(1.1);
  }
}

.advantages {
  display: flex;
  flex-direction: column;
  row-gap: 60px;
}
@media (max-width: 767px) {
  .advantages {
    align-items: center;
    justify-content: center;
    row-gap: 30px;
  }
}
.advantages__header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.advantages__title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 48px;
  transition-duration: var(--transition-duration);
  text-wrap: nowrap;
}
@media (hover: hover) {
  .advantages__title:hover {
    color: var(--color-purple);
    font-size: 52px;
  }
}
@media (hover: none) {
  .advantages__title:active {
    color: var(--color-purple);
    font-size: 52px;
  }
}
@media (max-width: 767px) {
  .advantages__title {
    font-size: 28px;
  }
}
@media (max-width: 767px) and (hover: hover) {
  .advantages__title:hover {
    color: var(--color-purple);
    font-size: 32px;
    transition-duration: 0;
  }
}
@media (max-width: 767px) and (hover: none) {
  .advantages__title:active {
    color: var(--color-purple);
    font-size: 32px;
    transition-duration: 0;
  }
}
.advantages__description {
  font-weight: 300;
  font-size: 18px;
  text-align: center;
}
.advantages__list {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 767px) {
  .advantages__list {
    flex-direction: column;
    row-gap: 50px;
    align-items: center;
  }
}
@media (max-width: 429px) {
  .advantages__list {
    padding-left: 120px;
  }
}
.advantages__item {
  display: flex;
  flex-direction: column;
}
.advantages__item-icon {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.advantages__item-title {
  font-weight: 600;
  font-size: 24px;
  padding-top: 12px;
  margin-bottom: 2px;
}
.advantages__item-description {
  font-weight: 300;
  font-size: 16px;
  padding-bottom: 27px;
  width: 349px;
}
.advantages__item-description--last {
  padding-bottom: 51px;
}
@media (max-width: 1280px) {
  .advantages__item-description {
    width: 200px;
    height: 200px;
  }
}
@media (max-width: 767px) {
  .advantages__item-description {
    width: 100%;
    height: auto;
  }
}
@media (max-width: 430px) {
  .advantages__item-description {
    max-width: 349px;
  }
}
@media (max-width: 429px) {
  .advantages__item-description {
    max-width: 200px;
    font-size: 16px;
  }
}
.advantages__item-link {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  display: inline-flex;
  align-items: center;
  -moz-column-gap: 16px;
       column-gap: 16px;
  font-weight: 600;
  font-size: 16px;
  transition-duration: var(--transition-duration);
  width: 128px;
}
@media (hover: hover) {
  .advantages__item-link:hover {
    color: var(--color-purple);
  }
}
@media (hover: none) {
  .advantages__item-link:active {
    color: var(--color-purple);
  }
}
@media (max-width: 767px) and (hover: hover) {
  .advantages__item-link:hover {
    transition-duration: 0;
  }
}
@media (max-width: 767px) and (hover: none) {
  .advantages__item-link:active {
    transition-duration: 0;
  }
}
.advantages__item:nth-child(1) {
  width: 388px;
  border-right: 1px solid var(--color-dark);
  padding-right: 39px;
}
@media (max-width: 767px) {
  .advantages__item:nth-child(1) {
    border-right: none;
    padding-right: 0;
    width: 349px;
  }
}
.advantages__item:nth-child(2) {
  border-right: 1px solid var(--color-dark);
  padding-left: 33px;
  padding-right: 34.5px;
  width: 416.5px;
}
@media (max-width: 767px) {
  .advantages__item:nth-child(2) {
    border-right: none;
    padding-right: 0;
    padding-left: 0;
    width: 349px;
  }
}
.advantages__item:nth-child(3) {
  padding-left: 37.5px;
  width: 386.5px;
}
@media (max-width: 767px) {
  .advantages__item:nth-child(3) {
    padding-left: 0;
    width: 349px;
  }
}

@media (max-width: 1023px) {
  .reviews {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.reviews__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 50px;
}
@media (max-width: 1023px) {
  .reviews__header {
    display: contents;
  }
}
@media (max-width: 1023px) {
  .reviews__header-text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 1023px) and (max-width: 1023px) {
  .reviews__header-text {
    padding-bottom: 30px;
  }
}
.reviews__header-buttons {
  display: flex;
  -moz-column-gap: 23px;
       column-gap: 23px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
@media (max-width: 1023px) {
  .reviews__header-buttons {
    order: 4;
    -moz-column-gap: 0;
         column-gap: 0;
    justify-content: space-between;
    width: 100%;
    margin-top: -60px;
  }
}
.reviews__header-button-left {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 58px;
  aspect-ratio: 1;
  flex-shrink: 0;
  position: relative;
  background-color: transparent;
  border: var(--border);
  border-radius: 50%;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.reviews__header-button-right {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 58px;
  aspect-ratio: 1;
  flex-shrink: 0;
  position: relative;
  background-color: var(--color-purple);
  border-radius: 50%;
  transition-duration: var(--transition-duration);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
@media (hover: hover) {
  .reviews__header-button-right:hover {
    background-color: transparent;
    border: var(--border);
  }
}
@media (hover: none) {
  .reviews__header-button-right:active {
    background-color: transparent;
    border: var(--border);
  }
}
@media (max-width: 767px) and (hover: hover) {
  .reviews__header-button-right:hover {
    transition-duration: 0;
  }
}
@media (max-width: 767px) and (hover: none) {
  .reviews__header-button-right:active {
    transition-duration: 0;
  }
}
.reviews__title {
  font-weight: 700;
  font-size: 48px;
  transition-duration: var(--transition-duration);
}
@media (hover: hover) {
  .reviews__title:hover {
    color: var(--color-purple);
    font-size: 52px;
  }
}
@media (hover: none) {
  .reviews__title:active {
    color: var(--color-purple);
    font-size: 52px;
  }
}
@media (max-width: 767px) {
  .reviews__title {
    font-size: 28px;
  }
}
@media (max-width: 767px) and (hover: hover) {
  .reviews__title:hover {
    color: var(--color-purple);
    font-size: 32px;
    transition-duration: 0;
  }
}
@media (max-width: 767px) and (hover: none) {
  .reviews__title:active {
    color: var(--color-purple);
    font-size: 32px;
    transition-duration: 0;
  }
}
.reviews__description {
  font-weight: 300;
  font-size: 18px;
}
@media (max-width: 767px) {
  .reviews__description {
    font-size: 18px;
    width: 305px;
    text-align: center;
  }
}
.reviews__image {
  border-radius: var(--border-radius);
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
@media (max-width: 1023px) {
  .reviews__image {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
@media (max-width: 430px) {
  .reviews__image {
    min-width: 100vw;
    height: 366px;
    border-radius: 0;
  }
}
.reviews__body {
  display: flex;
  align-items: center;
}
@media (max-width: 1023px) {
  .reviews__body {
    display: contents;
  }
}

.review-block {
  display: flex;
  flex-direction: column;
  row-gap: 26px;
  position: relative;
  right: 9%;
  background-color: var(--color-light-alt);
  border-radius: var(--border-radius);
  padding: 48px 56px 56px 56px;
  width: 752px;
  box-shadow: var(--box-shadow);
}
@media (max-width: 1023px) {
  .review-block {
    right: 0;
    width: 100%;
    position: relative;
    top: -120px;
  }
}
@media (max-width: 767px) {
  .review-block {
    padding: 52px 33px 58px 33px;
    row-gap: 19px;
  }
}
.review-block__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.review-block__title {
  font-weight: 700;
  font-size: 38px;
  transition-duration: var(--transition-duration);
}
@media (hover: hover) {
  .review-block__title:hover {
    color: var(--color-purple);
  }
}
@media (hover: none) {
  .review-block__title:active {
    color: var(--color-purple);
  }
}
@media (max-width: 767px) {
  .review-block__title {
    font-size: 28px;
  }
}
@media (max-width: 767px) and (hover: hover) {
  .review-block__title:hover {
    transition-duration: 0;
  }
}
@media (max-width: 767px) and (hover: none) {
  .review-block__title:active {
    transition-duration: 0;
  }
}
.review-block__body {
  display: flex;
  flex-direction: column;
  row-gap: 22px;
}
@media (max-width: 767px) {
  .review-block__body {
    row-gap: 13px;
    align-items: center;
  }
}
.review-block__description {
  font-weight: 300;
  font-size: 28px;
  width: 639px;
}
@media (max-width: 1439px) {
  .review-block__description {
    width: 100%;
    min-width: 300px;
  }
}
@media (max-width: 1280px) {
  .review-block__description {
    font-size: 20px;
  }
}
@media (max-width: 767px) {
  .review-block__description {
    font-size: 22px;
    min-width: 313px;
    text-align: center;
  }
}
@media (max-width: 429px) {
  .review-block__description {
    font-size: 16px;
    min-width: 200px;
  }
}
.review-block__stars {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
@media (max-width: 767px) {
  .review-block__stars-icon {
    height: 31px;
    width: 33px;
  }
}
@media (max-width: 429px) {
  .review-block__icon {
    height: 33px;
    width: 45px;
  }
}/*# sourceMappingURL=style.css.map */