@charset "UTF-8";
/**
  Нормализация блочной модели
 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
  Упрощаем работу с изображениями
 */
img {
  display: block;
  max-width: 100%;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
  /**
    Плавный скролл
   */
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

/**
  Приводим к единому цвету svg-элементы
 */
/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  transition-property: fill, stroke;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
:root {
  --color-dark: #1E1E1E;
  --color-light: #FAFAFA;
  --color-purple: #A783FF;
  --color-light-alt: #fff;
  --border: 1px solid var(--color-dark);
  --border-radius: 18px;
  --border-radius-small: 7px;
  --border-radius-large: 45px;
  --box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  --font-family-base: "Poppins", sans-serif;
  --container-width: 1440px;
  --container-padding-x: 124px;
  --section-padding-y: 158px;
  --input-height: 59px;
  --button-height: 68px;
  --transition-duration: 0.2s;
}
@media (max-width: 1280px) {
  :root {
    --section-padding-y: 158px;
  }
}
@media (max-width: 767px) {
  :root {
    --section-padding-y: 318px;
  }
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}
@media (max-width: 767px) {
  .container {
    padding-inline: 30px;
  }
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  -webkit-clip-path: inset(100%) !important;
          clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

@media (max-width: 767px) {
  .hidden-mobile {
    display: none !important;
  }
}

@media (min-width: 768px) {
  .visible-mobile {
    display: none !important;
  }
}

body {
  font-size: 18px;
  font-family: var(--font-family-base);
  font-weight: 300;
  line-height: 1.5;
  color: var(--color-dark);
  background-color: var(--color-light);
}

a,
button,
input,
textarea,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2, h3, h4 {
  font-weight: 500;
}

h1, .h1 {
  font-size: clamp(48px, 6.5277777778vw, 94px);
}

h2, .h2 {
  font-size: clamp(28px, 3.3333333333vw, 48px);
}

h3, .h3 {
  font-size: clamp(24px, 2.6388888889vw, 38px);
}

h4, .h4 {
  font-size: clamp(18px, 1.6666666667vw, 24px);
}

.section {
  padding-bottom: var(--section-padding-y);
}

.advantages {
  display: flex;
  flex-direction: column;
  row-gap: 60px;
}
@media (max-width: 767px) {
  .advantages {
    align-items: center;
    justify-content: center;
    row-gap: 30px;
  }
}
.advantages__header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.advantages__title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 48px;
  transition-duration: var(--transition-duration);
  text-wrap: nowrap;
}
@media (hover: hover) {
  .advantages__title:hover {
    color: var(--color-purple);
    font-size: 52px;
  }
}
@media (hover: none) {
  .advantages__title:active {
    color: var(--color-purple);
    font-size: 52px;
  }
}
@media (max-width: 767px) {
  .advantages__title {
    font-size: 28px;
  }
}
@media (max-width: 767px) and (hover: hover) {
  .advantages__title:hover {
    color: var(--color-purple);
    font-size: 32px;
  }
}
@media (max-width: 767px) and (hover: none) {
  .advantages__title:active {
    color: var(--color-purple);
    font-size: 32px;
  }
}
.advantages__description {
  font-weight: 300;
  font-size: 18px;
  text-align: center;
}
.advantages__list {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 767px) {
  .advantages__list {
    flex-direction: column;
    row-gap: 50px;
    align-items: center;
  }
}
.advantages__item {
  display: flex;
  flex-direction: column;
}
.advantages__item-icon {
  transition-duration: var(--transition-duration);
}
@media (hover: hover) {
  .advantages__item-icon:hover {
    transform: scale(1.1);
  }
}
@media (hover: none) {
  .advantages__item-icon:active {
    transform: scale(1.1);
  }
}
.advantages__item-title {
  font-weight: 600;
  font-size: 24px;
  padding-top: 12px;
  margin-bottom: 2px;
}
.advantages__item-description {
  font-weight: 300;
  font-size: 16px;
  padding-bottom: 27px;
  width: 349px;
}
.advantages__item-description--last {
  padding-bottom: 51px;
}
@media (max-width: 1280px) {
  .advantages__item-description {
    width: 200px;
  }
}
@media (max-width: 767px) {
  .advantages__item-description {
    width: 100%;
  }
}
.advantages__item-link {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  display: inline-flex;
  align-items: center;
  -moz-column-gap: 16px;
       column-gap: 16px;
  font-weight: 600;
  font-size: 16px;
  transition-duration: var(--transition-duration);
  width: 128px;
}
@media (hover: hover) {
  .advantages__item-link:hover {
    color: var(--color-purple);
  }
}
@media (hover: none) {
  .advantages__item-link:active {
    color: var(--color-purple);
  }
}
.advantages__item:nth-child(1) {
  width: 388px;
  border-right: 1px solid var(--color-dark);
  padding-right: 39px;
}
@media (max-width: 767px) {
  .advantages__item:nth-child(1) {
    border-right: none;
    padding-right: 0;
    width: 349px;
  }
}
.advantages__item:nth-child(2) {
  border-right: 1px solid var(--color-dark);
  padding-left: 33px;
  padding-right: 34.5px;
  width: 416.5px;
}
@media (max-width: 767px) {
  .advantages__item:nth-child(2) {
    border-right: none;
    padding-right: 0;
    padding-left: 0;
    width: 349px;
  }
}
.advantages__item:nth-child(3) {
  padding-left: 37.5px;
  width: 386.5px;
}
@media (max-width: 767px) {
  .advantages__item:nth-child(3) {
    padding-left: 0;
    width: 349px;
  }
}

@media (max-width: 1023px) {
  .reviews {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.reviews__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 50px;
}
@media (max-width: 1023px) {
  .reviews__header {
    display: contents;
  }
}
@media (max-width: 1023px) {
  .reviews__header-text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 1023px) and (max-width: 1023px) {
  .reviews__header-text {
    padding-bottom: 30px;
  }
}
.reviews__header-buttons {
  display: flex;
  -moz-column-gap: 23px;
       column-gap: 23px;
}
@media (max-width: 1023px) {
  .reviews__header-buttons {
    order: 4;
    -moz-column-gap: 0;
         column-gap: 0;
    justify-content: space-between;
    width: 100%;
    margin-top: -60px;
  }
}
.reviews__header-button-left {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 58px;
  aspect-ratio: 1;
  flex-shrink: 0;
  position: relative;
  background-color: transparent;
  border: var(--border);
  border-radius: 50%;
}
.reviews__header-button-right {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 58px;
  aspect-ratio: 1;
  flex-shrink: 0;
  position: relative;
  background-color: var(--color-purple);
  border-radius: 50%;
  transition-duration: var(--transition-duration);
}
@media (hover: hover) {
  .reviews__header-button-right:hover {
    background-color: transparent;
    border: var(--border);
  }
}
@media (hover: none) {
  .reviews__header-button-right:active {
    background-color: transparent;
    border: var(--border);
  }
}
.reviews__title {
  font-weight: 700;
  font-size: 48px;
  transition-duration: var(--transition-duration);
}
@media (hover: hover) {
  .reviews__title:hover {
    color: var(--color-purple);
    font-size: 52px;
  }
}
@media (hover: none) {
  .reviews__title:active {
    color: var(--color-purple);
    font-size: 52px;
  }
}
@media (max-width: 767px) {
  .reviews__title {
    font-size: 28px;
  }
}
@media (max-width: 767px) and (hover: hover) {
  .reviews__title:hover {
    color: var(--color-purple);
    font-size: 32px;
  }
}
@media (max-width: 767px) and (hover: none) {
  .reviews__title:active {
    color: var(--color-purple);
    font-size: 32px;
  }
}
.reviews__description {
  font-weight: 300;
  font-size: 18px;
}
@media (max-width: 767px) {
  .reviews__description {
    font-size: 18px;
    width: 305px;
    text-align: center;
  }
}
.reviews__image {
  border-radius: var(--border-radius);
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
@media (max-width: 1023px) {
  .reviews__image {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
@media (max-width: 430px) {
  .reviews__image {
    min-width: 100vw;
    height: 366px;
    border-radius: 0;
  }
}
.reviews__body {
  display: flex;
  align-items: center;
}
@media (max-width: 1023px) {
  .reviews__body {
    display: contents;
  }
}

.review-block {
  display: flex;
  flex-direction: column;
  row-gap: 26px;
  position: relative;
  right: 9%;
  background-color: var(--color-light-alt);
  border-radius: var(--border-radius);
  padding: 48px 56px 56px 56px;
  width: 752px;
  box-shadow: var(--box-shadow);
}
@media (max-width: 1023px) {
  .review-block {
    right: 0;
    width: 100%;
    position: relative;
    top: -120px;
  }
}
@media (max-width: 767px) {
  .review-block {
    padding: 52px 33px 58px 33px;
    row-gap: 19px;
  }
}
.review-block__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.review-block__title {
  font-weight: 700;
  font-size: 38px;
  transition-duration: var(--transition-duration);
}
@media (hover: hover) {
  .review-block__title:hover {
    color: var(--color-purple);
  }
}
@media (hover: none) {
  .review-block__title:active {
    color: var(--color-purple);
  }
}
@media (max-width: 767px) {
  .review-block__title {
    font-size: 28px;
  }
}
.review-block__body {
  display: flex;
  flex-direction: column;
  row-gap: 22px;
}
@media (max-width: 767px) {
  .review-block__body {
    row-gap: 13px;
    align-items: center;
  }
}
.review-block__description {
  font-weight: 300;
  font-size: 28px;
  width: 639px;
}
@media (max-width: 1439px) {
  .review-block__description {
    width: 100%;
    min-width: 300px;
  }
}
@media (max-width: 1280px) {
  .review-block__description {
    font-size: 20px;
  }
}
@media (max-width: 767px) {
  .review-block__description {
    font-size: 22px;
    min-width: 313px;
    text-align: center;
  }
}
.review-block__stars {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
@media (max-width: 767px) {
  .review-block__stars-icon {
    height: 31px;
    width: 33px;
  }
}/*# sourceMappingURL=style.css.map */