.investments {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 50px;

    @include mobile {
        row-gap: 30px;
    }

    &__header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        @include mobile {
            align-items: start;
        }
    }

    &__title {
        font-size: 48px;
        font-weight: 700;
        line-height: 100%;
        transition-duration: var(--transition-duration);
        
        @include hover {
            color: var(--color-main);
            font-size: 52px;
        }

        @include mobile {
            font-size: 24px;
            text-align: left;

            @include hover {
                color: var(--color-main);
                font-size: 28px;
                transition-duration: 0;
            }
        }
    }

    &__description {
        font-size: 16px;
        font-weight: 300;

        @include mobile {
            font-size: 18px;
        }
    }

    &__body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 20px;

        &__description {
            text-align: center;
            font-size: 16px;
            font-weight: 300;
        }
    }

    &__list {
        display: flex;
        align-items: center;
        justify-content: center;

        @include mobile {
            flex-direction: column;
        }
    }

    &__item {
        display: flex;
        align-items: center;
        justify-content: center;

        &:nth-child(1) {
            padding-right: 20px;
            border-right: 1px solid var(--color-dark);

            @include mobile {
                border-right: none;
                padding-right: 0;
                border-bottom: 1px solid var(--color-dark);
                padding-bottom: 20px;
                width: 360px;
            }
        }

        &:nth-child(2) {
            padding-inline: 20px;
            border-right: 1px solid var(--color-dark);

            @include mobile {
                border-right: none;
                padding-inline: 0;
                padding-block: 20px;
                border-bottom: 1px solid var(--color-dark);
                width: 100%;
            }
        }

        &:nth-child(3) {
            padding-left: 20px;

            @include mobile {
                padding-left: 0;
                padding-top: 20px;
                width: 100%;
            }
        }
    }

    
    
    
}
