.start {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 20px;
    background-color: var(--color-main);
    padding-block: 50px;
    border-radius: 30px;
    width: 100%;
    color: var(--color-light);

    &__text {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &__title {
        font-weight: 700;
        font-size: 48px;
    }

    &__description {
        font-weight: 300;
        font-size: 18px;

        @include mobile {
            max-width: 320px;
            text-align: center;
        }
    }

    &__buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 20px;

        @include tablet {
            flex-direction: column;
            row-gap: 30px;
        }
    }

    &__button {
        padding: 10px 50px;
        border-radius: 7px;
        font-weight: 500;
        font-size: 20px;
        outline: none;
        border: none;
        cursor: pointer;
        transition-duration: var(--transition-duration);

        @include tablet {
            width: 500px;
        }

        @include mobile {
            width: 320px;
        }

        &--dark {
            background-color: var(--color-dark);
            color: var(--color-light);

            @include hover {
                background-color: var(--color-light);
                color: var(--color-dark);
            }
        }

        &--light {
            background-color: var(--color-light);
            color: var(--color-dark);

            @include hover {
                background-color: var(--color-dark);
                color: var(--color-light);
            }
        }

        &--transparent {
            background-color: transparent;
            color: var(--color-light);
            outline: 1px solid var(--color-light);

            @include hover {
                color: var(--color-dark);
                outline: 1px solid var(--color-dark);
            }
        }
        
    }
    
    
}