.why {
    display: flex;
    flex-direction: column;
    row-gap: 50px;


    @include mobile {
        align-items: center;
        justify-content: center;
        row-gap: 30px;
    }

    @include mobile-s {
        align-items: start;
    }

    &__header {
        display: flex;
        flex-direction: column;
        align-items: center;

        @include mobile {
            align-items: start;
        }
    }

    &__title {
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 700;
        font-size: 48px;
        transition-duration: var(--transition-duration);
        text-wrap: nowrap;
        
        @include hover {
            color: var(--color-main);
            font-size: 52px;
        }

        @include mobile {
            
            font-size: 24px;

            @include hover {
                color: var(--color-main);
                font-size: 28px;
                transition-duration: 0;
            }
        }
    }

    &__description {
        font-weight: 300;
        font-size: 18px;
        text-align: center;

        @include mobile {
            text-align: left;
            padding-bottom: 10px;
        }
    }

    &__body {
        display: flex;
        flex-direction: column;
        row-gap: 50px;

        @include mobile {
            row-gap: 20px;
        }
    }

    &__list {
        display: flex;
        align-items: center;
        justify-content: center;

        @include mobile {
            flex-direction: column;
            row-gap: 20px;
            align-items: center;
        }
    }

    &__item {
        display: flex;
        flex-direction: column;

        &-icon {
            user-select: none;
            fill: var(--color-main);
        }
        
        &-title {
            font-weight: 600;
            font-size: 24px;
            padding-top: 15px;
            margin-bottom: 15px;
            line-height: 100%;

            @include mobile-s-below {
                width: 70%;
            }
        }

        &-description {
            font-weight: 300;
            font-size: 16px;
            padding-bottom: 27px;
            width: 356px;

            @include desktop {
                width: 200px;
                height: 200px;
            }

            @include mobile {
                width: 100%;
                height: auto;
            }

            @include mobile-s {
                max-width: 349px;
            }

            @include mobile-s-below {
                max-width: 90%;
                font-size: 16px;
            }
            
            &--last {
                padding-bottom: 50px;
            }
        }

        &-link {
            user-select: none;
            display: inline-flex;
            align-items: center;
            column-gap: 16px;
            font-weight: 600;
            font-size: 16px;
            transition-duration: var(--transition-duration);  
            width: 128px;

            @include hover {
                color: var(--color-main);
            }

            @include mobile {
                @include hover {
                    transition-duration: 0;
                }
            }
        }

        &:nth-child(1) {
            width: 376px;
            border-right: 1px solid var(--color-dark);
            padding-right: 20px;

            @include mobile {
                border-right: none;
                padding-right: 0;
                padding-bottom: 20px;
                border-bottom: 1px solid var(--color-dark);
                width: 360px;
            }

            @include mobile-s-below {
                width: 100%;
            }
        }

        &:nth-child(2) {
            border-right: 1px solid var(--color-dark);
            padding-inline: 20px;
            width: 396px;

            @include mobile {
                border-inline: none;
                padding-inline: 0;
                padding-bottom: 20px;
                border-bottom: 1px solid var(--color-dark);
                width: 360px;
            }

            @include mobile-s-below {
                width: 100%;
            }
        }

        &:nth-child(3) {
            padding-left: 20px;
            width: 376px;

            @include mobile {
                border-left: none;
                padding-left: 0;
                width: 360px;
            }

            @include mobile-s-below {
                width: 100%;
            }
        }
    }
    
    
}