.advantages {
    display: flex;
    flex-direction: column;
    row-gap: 60px;


    @include mobile {
        align-items: center;
        justify-content: center;
        row-gap: 30px;
    }

    &__header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__title {
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 700;
        font-size: 48px;
        transition-duration: var(--transition-duration);
        text-wrap: nowrap;
        
        @include hover {
            color: var(--color-purple);
            font-size: 52px;
        }

        @include mobile {
            font-size: 28px;

            @include hover {
                color: var(--color-purple);
                font-size: 32px;
                transition-duration: 0;
            }
        }
    }

    &__description {
        font-weight: 300;
        font-size: 18px;
        text-align: center;
    }

    &__list {
        display: flex;
        align-items: center;
        justify-content: center;

        @include mobile {
            flex-direction: column;
            row-gap: 50px;
            align-items: center;
        }

        @include mobile-s-below {
            padding-left: 120px;
        }
    }

    &__item {
        display: flex;
        flex-direction: column;

        &-icon {
            user-select: none;
        }
        
        &-title {
            font-weight: 600;
            font-size: 24px;
            padding-top: 12px;
            margin-bottom: 2px;
        }

        &-description {
            font-weight: 300;
            font-size: 16px;
            padding-bottom: 27px;
            width: 349px;

            &--last {
                padding-bottom: 51px;
            }

            @include desktop {
                width: 200px;
                height: 200px;
            }

            @include mobile {
                width: 100%;
                height: auto;
            }

            @include mobile-s {
                max-width: 349px;
            }

            @include mobile-s-below {
                max-width: 200px;
                font-size: 16px;
            }
        }

        &-link {
            user-select: none;
            display: inline-flex;
            align-items: center;
            column-gap: 16px;
            font-weight: 600;
            font-size: 16px;
            transition-duration: var(--transition-duration);  
            width: 128px;

            @include hover {
                color: var(--color-purple);
            }

            @include mobile {
                @include hover {
                    transition-duration: 0;
                }
            }
        }

        &:nth-child(1) {
            width: 388px;
            border-right: 1px solid var(--color-dark);
            padding-right: 39px;

            @include mobile {
                border-right: none;
                padding-right: 0;
                width: 349px;
            }
        }

        &:nth-child(2) {
            border-right: 1px solid var(--color-dark);
            padding-left: 33px;
            padding-right: 34.5px;
            width: 416.5px;

            @include mobile {
                border-right: none;
                padding-right: 0;
                padding-left: 0;
                width: 349px;
            }
        }

        &:nth-child(3) {
            padding-left: 37.5px;
            width: 386.5px;

            @include mobile {
                padding-left: 0;
                width: 349px;
            }
        }
    }
    
    
}