.cross-button {
    @include reset-button;
    @include square(55px);

    position: relative;
    left: 29px;
    top: 37px;
    transition-duration: var(--transition-duration);

    @include hover {
        background-color: var(--color-purple);
        border-radius: 8px;
    }

    &::before,
    &::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 8px;
        width: 70%;
        height: 2px;
        background-color: var(--color-dark);
        border-radius: 5px;
    }

    &::before {
        rotate: 45deg;
    }

    &::after {
        rotate: -45deg;
    }
}